@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Cookie&family=Inter&family=Montserrat&family=Oooh+Baby&family=Playball&family=Poppins&family=Space+Mono&family=Square+Peg&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 4px;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: #cacaca69;
  border-radius: 3px;
}